<div id="<%= dom_id partner %>">
  <p>
    <strong>Libelle:</strong>
    <%= partner.libelle %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= partner.logo %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= partner.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= partner.email %>
  </p>

  <p>
    <strong>Ville:</strong>
    <%= partner.ville %>
  </p>

  <p>
    <strong>Pays:</strong>
    <%= partner.pays %>
  </p>

  <p>
    <strong>Quartier:</strong>
    <%= partner.quartier %>
  </p>

</div>
