<div id="<%= dom_id article %>">
  <p>
    <strong>Category:</strong>
    <%= article.category_id %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= article.label %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= article.prix %>
  </p>

  <p>
    <strong>Image couverture:</strong>
    <%= article.image_couverture %>
  </p>

  <p>
    <strong>Autres images:</strong>
    <%= article.autres_images %>
  </p>

</div>
