<div id="<%= dom_id commande %>">
  <p>
    <strong>Article:</strong>
    <%= commande.article_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= commande.user_id %>
  </p>

  <p>
    <strong>Quantite:</strong>
    <%= commande.quantite %>
  </p>

  <p>
    <strong>Adresse livraison:</strong>
    <%= commande.adresse_livraison %>
  </p>

</div>
