<%= form_with(model: commande) do |form| %>
  <% if commande.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commande.errors.count, "error") %> prohibited this commande from being saved:</h2>

      <ul>
        <% commande.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :article_id, style: "display: block" %>
    <%= form.text_field :article_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :quantite, style: "display: block" %>
    <%= form.text_field :quantite %>
  </div>

  <div>
    <%= form.label :adresse_livraison, style: "display: block" %>
    <%= form.text_field :adresse_livraison %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
